<!DOCTYPE html>
<html>
<head>
	<title>FactoryMania - Game</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/client.css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="/client/game.js" charset="utf-8" type="text/javascript"></script>
</head>
<body>
	<div class="welcome">
		<p>Welcome to your factory, <%= name %>!</p>
	</div>
	<ul id='nav' class="noselect">
		<li><p>Money</p><p id="gameMoney"></p></li>
		<li><p>Pickaxe Level</p><p id="pickaxeLevel"></p></li>
		<li onclick="reset()"><p>Reset</p><p>Progress</p></li>
		<li id="center"><a href="/user/leaderboard"><p><br>Leaderboard</p></a></li>
		<li id="center"><a href="/user/logout"><p><br>Logout</p></a></li>
	</ul>
	<ul id='navv' class="noselect">
		<li onclick="upgradePickaxe()" class="toLeft"><p >Upgrade Pickaxe</p><p id="pickCost"></p></li>
		<li><p onclick="factoryView()" class="smallText">Factory</p></li>
		<li><p onclick="mineView()" class="smallText">Mine</p></li>
		<li id="toRight"><p onclick="upgradeView()" class="smallText">Upgrades</p></li>
	</ul>
	<div id="oreMine">
		<ul class="noselect">
			<li><div>*IRON IMAGE HERE*</div><p class="ironC" onclick="mineIron()">Mine Iron!</p></li>
		</ul>
		<ul class="noselect">
			<li><div>*COPPER IMAGE HERE*</div><p class="copperC" onclick="mineCopper()">Mine Copper!</p></li>
		</ul>
	</div>
	<div id="factoryDiv">
		<ul class="noselect">
			<li><div>*IRON BAR IMAGE HERE*</div><p class="ironC" onclick="smeltIron()">Smelt into Iron Bars!</p></li>
			<li><div>*COPPER SHEET IMAGE HERE*</div><p class="copperC" onclick="smeltCopper()">Smelt into Copper Sheets!</p></li>
		</ul>
	</div>
	<div id="upgradeDiv">
		<ul class="noselect">
			<li><div>*IRON DRILL IMG HERE*</div><p onclick="purchaseIronDrill()" class="ironC" id="idrillB">Purchase the Iron Drill!</p></li>
			<li><div>*COPPER DRILL IMG HERE*</div><p onclick="purchaseCopperDrill()" class="copperC" id="cdrillB">Purchase the Copper Drill!</p></li>
		</ul>
	</div>
	<ul id='navbb' class="noselect">
		<li onclick="sellIronBars()" class="ironC"><p>Sell Iron Bars</p></li>
		<li onclick="sellCopperSheets()" class="copperC"><p>Sell Copper Sheets</p></li>
	</ul>
	<ul id='navb' class="noselect">
		<li class="ironC"><p>Iron</p><p id="ironMined">0</p></li>
		<li class="copperC"><p>Copper</p><p id="copperMined">0</p></li>
		<li class="ironC"><p>Iron Bars</p><p id="ironBars">0</p></li>
		<li class="copperC"><p>Copper Sheets</p><p id="copperSheets">0</p></li>
	</ul>
</body>
</html>