<!DOCTYPE html>
<html>
    <head>
        <title>HomePage</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
    </head>
    <body>
        <h1>Welcome to FactoryMania!</h1>
        <h2><a href="/user">Register here</a></h2>
        <h2><a href="/user/login">Login here</a></h2>
    </body>
</html>