<!DOCTYPE html>
<html>
    <head>
        <title>Leaderboard</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
    </head>
    <body>
        <h1>LEADERBOARD</h1>
        <a href="/user/profile">Back to the game!</a>
    </body>
</html>